body {
   background-image:url(https://s1.ax1x.com/2020/06/26/NsgJp9.png);
   background-repeat: no-repeat;
   background-attachment:fixed;
   background-position:50% 50%;
 background-size: 100% 100%;
}
